$fontFamily-regular: 'open sans';

$fontSize-base: 16px;

$fontSize-xxsmall: 8px;
$fontSize-xsmall: 10px;
$fontSize-small: 12px;
$fontSize-smallregular: 15px;
$fontSize-regular: $fontSize-base;
$fontSize-large: 20px;
$fontSize-xlarge: 24px;
$fontSize-xxlarge: 28px;
$fontSize-xxxlarge: 40px;