@import '../styles/colors';

.items {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.items-carousel {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}